@import "../../resources/styles/mixins.scss";

.headt{
    background-color: $primario;
    color: white;
}

.nuevoProyecto{
    background-color: $secundario;
    border: none;
    color: black;
}

.nuevoProyecto:hover{
    background-color: $secundario-bajo;
    border: none;
    color: black;
}

.nuevoProyecto:active{
    background-color: $primario;
    border: none;
    color: black;
}

.checkbox{
    transform: scale(1.6);
}