@import "../../resources/styles/mixins.scss";

.colside{
    background-color: $primario;
}
.opt{
    color: white;
}
.opt:hover {
    background-color: $secundario;
    font-weight: bold;
    color: $primario;
}