@import "../../resources/styles/mixins.scss";

.headt{
    background-color: $primario;
    color: white;
}

.nuevoEjercicio{
    background-color: $secundario;
    border: none;
    color: black;
}

.nuevoEjercicio:hover{
    background-color: $secundario-bajo;
    border: none;
    color: black;
}

.nuevoEjercicio:active{
    background-color: $primario;
    border: none;
    color: black;
}