@import "../../resources/styles/mixins.scss";

.logo_hackademy{
    margin: 10px;
    width: 75%;
}

.color{
    background-color: $primario;
}

.side{
    color: $blanco;
    margin: 15px;
}

.bold{
    font-weight: $bold;
}

.option{
    margin-left: 30px;
}