@import "../../resources/styles/mixins.scss";

.send_email{
    width: 25%;
}

.color{
    background-color: $blanco;
}

.formulario{
    padding: 0% 25%;
}

.cambiar{
    width: 100%;
    border: none;
    background-color: $primario;
    color: white;
    padding: 6px;
    border-radius: 5px;
}