//Screen size
$screen-xs-min: 575px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl: 1200px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// Colores
$primario: #585490;
$primario-bajo: #6E67D3;
$primario-dark: #1B1841;
$secundario: #C4D043;
$secundario-bajo: #DCE775;
$negro: #000000;
$blanco: #FFFFFF;
$background: #F3F2EF;
$gris: #9E9E9E;
$gradiante-linear: linear-gradient(180deg, #241E6B 30.21%, #79186F 100%);

// F U E N T E S

// Fuentes tipos:
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// fuentes tamaños
$body: 14px;
$body2: 16px;

// Fuentes Colores:
$txt-primario: #000000;
$txt-secundario: #9E9E9E;




